<template>
    <div>
        <div>
            firstNumber : 
            <input id="firstInput" v-model.number="firstNumber" />
        </div>
        <div>
            secondNumber :
            <input id="secondInput" v-model.number="secondNumber" />
        </div>
        <h1 id="sumResult">
            {{ sumNumber }}
        </h1>
    </div>
</template>

<script>
export default {
    name: 'FooCalculator',
    data() {
        return {
            firstNumber: 0,
            secondNumber: 0,
        }
    },
    computed: {
        sumNumber () {
            return this.firstNumber + this.secondNumber
        }
    }
}
</script>