<template>
    <div class="center">
        <div class="wrapper">
            <form @submit.prevent="addItemToListItem" >
                <input id="input" v-model="inputValue"/>
                <button type="submit">ADD</button>
            </form>
        </div>
        <div class="list">
            <div class="item" v-for="(item, index) in listItem" :key="index" @click="deleteListItem(index)">
                {{ index + 1 }} ----> {{ item }}
            </div>
        </div>
    </div>

</template>

<script>
export default {
    name: 'TodoList',
    data() {
        return {
            inputValue: '',
            listItem: []
        }
    },
    methods: {
        addItemToListItem () {
            this.listItem.push(this.inputValue)
            this.inputValue = ''
        },
        deleteListItem (index) {
            this.listItem = this.listItem.filter((_, idx) => {
                return idx !== index
            })
        }
    }
}
</script>

<style scoped>
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 400px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 14px;
}
.list {
    display: flex;
    flex-direction: column;
}
.list .item {
    padding: 14px;
    border: 1px solid black;
    margin-top: 8px;
}
</style>